.registerForm {
    @apply bg-white w-[70%] sm:w-[40%] md:w-[25%] min-h-[50vh] sm:min-h-[40vh] p-4 rounded-xl;
    box-shadow: 5px 5px 10px black, -5px -5px 10px black;
}

.btn {
    padding: 10px;
    background-color: black;
    color: white;
    font-size: 16px;
    border-radius: 7px;
    margin-top: 20px;


}

.sidebar {
    @apply bg-blue-200 min-w-[22vw] h-[95vh] border border-red-500;
}

ul li {
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 5px;
}

.iconClass {
    font-size: 25px;
}

.sideBarindicator {
    @apply bg-green-400 rounded-xl text-white;
}

form input {

    background-color: transparent;
    margin-top: 10px;
    font-size: 20px;

}

form input::placeholder {
    color: whitesmoke;
}

table {
    border: 3px solid rgb(140 140 140);
}

th,
td {
    border: 2px solid rgb(160 160 160);
}